// =================================================================================
// about background img: central park
// =================================================================================
.about-bg-img-top {
	position: absolute;
	z-index: -200;
	top: 0;
	img {
		width: 100%;
	}
}

.about-quote {
	position: absolute;
	color: white;
	span {
		font-size: 25px;
	}
}

// =================================================================================
// paragraph and title at top right
// =================================================================================
.p-top-right {
   position: absolute;
   right: 1 * ($grid-width + $grid-gutter);
   bottom: 0.5 * ($grid-width + $grid-gutter);
   text-align: right;
   h1{
      font-size: 70px;
      line-height: 80px;
      font-family: 'Domine', serif;
      letter-spacing: 2px;
   }
}

// =================================================================================
// about me title
// =================================================================================
.about-me-title {
	position: absolute;
	z-index: 2;
	top: 720px;
}

// =================================================================================
// about me bio paragraph container
// =================================================================================
.about-bio-container {
	position: absolute;
	z-index: 30;
	top: 740px;
	width: 75%;
	height: 550px;
	right: 1 * ($grid-width + $grid-gutter);
	padding: 80px;
	background-color: rgba(255, 255, 255, 0.8);
	// My name is Yizzy.
	h2 {
		font-size: 20px;
		font-family: 'Domine', serif;
		padding-bottom: 30px;
	}
	// bio paragraph...
	.bio-p {
		p {
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.6px;
		}
	}

	// download resume button
	.download {
		margin-top: 30px;
		padding: 8px;
		border: solid 1px black;
		width: 156px;
		background-color: transparent;
		transition: 0.5s ease-in;
		color: black;
		p {
			font-size: 11px;
			text-align: center;
			letter-spacing: 1.5px;
		}
	}
	.download:hover {
		background-color: black;
		transition: 0.5s ease-in;
		color: white;
	}
}

// =================================================================================
// my photo img
// =================================================================================
.my-photo{
	position: absolute;
	z-index: 31;
	top: 820px;
	right: 0;
	img {
		width: 300px;
	}
}

// =================================================================================
// skills title
// =================================================================================
.skills-title {
	position: absolute;
	z-index: 50;
	top: 1550px;
}

// =================================================================================
// grey background
// =================================================================================
.about-grey-bg {
	mix-blend-mode: multiply;
	position: absolute;
	z-index: 2;
	top: 1000px;
	width: 100%;
	height: 1180px;
	background-color: rgba(3, 3, 3, 0.5);
}

// =================================================================================
// skills container
// =================================================================================
.skills-ms-container {
	position: absolute;
	z-index: 40;
	top: 1400px;
}

.skill {
	width: 200px;
	margin-right: 70px;
	text-align: center;
	color: white;
	hr {
		border-top: 1px solid white;
		width: 10%;
	}
	//skill title
	h3 {
		font-size: 18px;
		letter-spacing: 1.5px;
	}
	p {
		margin-top: 17px;
		font-size: 12px;
		line-height: 17px;
		letter-spacing: 1px;
	}
}

.skill-svg-container {
	width: 210px;
	height:210px;
	background-color: white;
	margin: 20px auto;
}

// =================================================================================
// white arrow
// =================================================================================
.white-arrow {
  position: absolute;
  z-index: 30;
  top: 2000px;
  left: 80%;
}

// =================================================================================
// contact me container -> z-index: 50
// =================================================================================
.contact-me-container {
	position: absolute;
	z-index: 45;
	top: 2400px;
	h2 {
		color: white;
		line-height: 35px;
		letter-spacing: 0.5px;
	}
}
.contact-me-title:after {
	content:'';
	position: absolute;
	margin-top: 40px;
	width: 30px;
	height: 1px;
	background-color: white;
}

.about-contact-info {
	color: white;
	margin-top: 150px;
	h3 {
		font-weight: 600;
		margin-bottom: 20px;
		letter-spacing: 2px;
	}
	//email & cellphone
	.contact-content {
		display: inline-block;
		margin-right: 50px;
		letter-spacing: 1px;
		span {
			font-weight: 400;
		}
		p {
			font-size: 12px;
			line-height: 20px;
		}
	}
}

.contact-me-bg {
	position: absolute;
	z-index: 5;
	top: 1820px;
	width: 85%;
	height: 500px;
	background: url('../img/step_bg.jpg') no-repeat;
}

// =================================================================================
// contact me container -> z-index: 51
// =================================================================================

.social-icons-contianer {
	position: absolute;
	z-index: 51;
	top: 2000px;
	
	.social-icons-title {
		color: white;
		margin-bottom: 10px;
		font-family: 'Domine', serif;
	}

	.social-icons-content{
		width: 320px;
		height: 75px;
		background-color: white;
		opacity: 0.8;
		padding: 20px;
		ul{
			cursor: pointer;
			li{
				display: inline-block;
				width: 35px;
				height: 35px;
				margin-right: 10px;
				padding: 5px;
				border: solid 1px black;
				border-radius: 30px;
				background-color: transparent;
				color: black;
				font-family: 'Quicksand', sans-serif;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				transition: 0.25s ease-in;
			}
			li:hover {
				color: white;
				background-color: black;
				transition: 0.25s ease-in;

			}
		}
	}
}

.social-downloadcv {
	margin-top: 20px;

	//animation: download_opacity
    -webkit-animation: 2s infinite download_opacity ease-in alternate;
    -moz-animation: 2s infinite download_opacity ease-in alternate;
    -ms-animation: 2s infinite download_opacity ease-in alternate;
    animation: 2s infinite download_opacity ease-in alternate;

	p {
		font-size: 13px;
		color: white;
		letter-spacing: 1px;
	}

}

// =================================================================================
// copy right styles
// =================================================================================
.copy-right {
   position: absolute;
   z-index: -500;
   font-size: 12px;
   letter-spacing: 1.2px;
   width: 100%;
   text-align: center;
}