//media + society
@import 'shadowelections';
@import 'responsor';
@import 'bonds';

//open space + experiments
@import 'brooklyn';
@import 'cuisines';
//data + narratives

//visual + formation
@import 'tia';


// =================================================================================
// main title at top right, with catelog.
// =================================================================================
.project-nav {
	position: fixed;
	z-index: 500;
	top: 50px;
	right: 1 * ($grid-width + $grid-gutter) -(2px);
	ul{
		li{
			cursor: pointer;
			font-family: 'Open Sans', sans-serif;
			font-size: 12px;
			line-height: 20px;
			text-align: right;
			opacity: 0.4;
			transition: 0.5s ease-in;
		}
		li:hover {
			opacity: 1;
			transition: 0.5s ease-in;			
		}
	}
	// responsive
	@media screen and (max-width: $width-1366) {
		right: 1 * ($grid-width + $grid-gutter) +(2px);
    }
	@media screen and (max-width: $width-1280) {
		right: 1 * ($grid-width + $grid-gutter) -(2px);
    }	
}

.projects-div-img {
	position: relative;
	z-index: 100;
	width: 339px;
	height: 339px;
	background-color: pink; 
	margin: 0 7px 10px 0;
	padding: 0;
	img {
		width: 100%;
	}

	// responsive
	@media screen and (min-width: $width-1366) and (max-width: $width-1440) {
		width: 339px;
		height: 339px;
    }
	@media screen and (max-width: $width-1366) {
		width: 313px;
		height: 313px;
    }
	@media screen and (max-width: $width-1280) {
		width: 286px;
		height: 286px;
    }
}

.img-center {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 239px;
	height: 239px;
	margin: 0;
	padding: 50px;
	background-color: rgba(10, 10, 10, 0.7);
	color: white;
	text-align: center;
	transition: 0.25s ease-in;
	opacity: 0;
	display: block;

	h5 {
		margin-top: 25%;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 2px;
	}
	hr {
		border: 0;
    	height: 1px;
    	width: 10%;
    	background-color: white;
	}
	p {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.5px;
	}

	// responsive
	@media screen and (max-width: $width-1440) {
		padding: 50px;
		width: 239px;
		height: 239px;
    }
	@media screen and (max-width: $width-1366) {
		width: 227px;
		height: 227px;
    }
	@media screen and (max-width: $width-1280) {
		width: 200px;
		height: 200px;
		padding: 43px;
    }
}

.img-center:hover {
	opacity: 1;
	transition: 0.25s ease-in;
}

// =================================================================================
// media + Society | styles
// =================================================================================
.media-container {
	margin-top: 100px;
	margin-left: 4 * ($grid-width + $grid-gutter);
}

.media-title {
	margin-bottom: 50px;
	p {
		width: 90%;
	}
}

// =================================================================================
// open space + experiments | styles
// =================================================================================
.open-container {
	margin-top: 100px;
	margin-left: 4 * ($grid-width + $grid-gutter);
}

.open-title {
	margin-bottom: 50px;
	p {
		width: 90%;
	}
}

// =================================================================================
// open space + experiments | styles
// =================================================================================
.data-container {
	margin-top: 100px;
	margin-left: 4 * ($grid-width + $grid-gutter);
}

.data-title {
	margin-bottom: 50px;
	p {
		width: 90%;
	}
}

// =================================================================================
// visual + formation | styles
// =================================================================================
.visual-container {
	margin-top: 100px;
	margin-left: 4 * ($grid-width + $grid-gutter);
}

.visual-title {
	margin-bottom: 50px;
	p {
		width: 90%;
	}
}

// =================================================================================
// projects copy rights
// =================================================================================
.projects-copy-right {
    position: relative;
    top: 100px;
    left: 4 * ($grid-width + $grid-gutter);
    padding-bottom: 40px;
    width: 9 * ($grid-width + $grid-gutter);
    p {
		font-size: 12px;
		letter-spacing: 1.2px;
    }
}


// =================================================================================
// project pages standard styles.
// =================================================================================

//title container...
.title-container {
	position: absolute;
	z-index: 31;
	top: 160px;
}

.mockup-img{
	position: absolute;
	z-index: 30;
	top: 160px;
	img {
		width: 8 * ($grid-width + $grid-gutter) + $grid-width;
	}
}

/**********************************************************************************/
.p-caption {
	font-size: 13px;
	margin-bottom: 10px;
}

.p-title {
	font-family: 'Domine', serif;
	font-size: 40px;
}

//description paragraph width
.p-description {
	width: 2 * ($grid-width + $grid-gutter) +  (2 * $grid-gutter);
}

.desc-container {
	position: absolute;
	z-index: 32;
	top: 750px;
	a {
		font-size: 13px;
	}
}

/**********************************************************************************/
.p-inline {
	display: inline-block;
}
/**********************************************************************************/
.font-color-b {
	color: black;
}

.font-color-w {
	color: white;
}

/**********************************************************************************/
.grey-back {
	width: 100vw;
	background-color: black;
	opacity: 0.5;
}

/**********************************************************************************/
//default-h2-size 
.h2-font-size {
	font-size: 30px;
    font-family: 'Domine', serif;
    margin-bottom: 50px;
}

.h5-font-size {
	font-size: 16px;
	font-weight: 600;
    margin-bottom: 15px;
}

// default-p-size
.p-font-size {
	font-size: 13px;
	line-height: 20px;
}

.p-font-size-12 {
	font-size: 12px;
	line-height: 19px;
}

.p-font-size-14 {
	font-size: 14px;
	line-height: 21px;
}

.p-font-size-15 {
	font-size: 15px;
	line-height: 25px;
}

/**********************************************************************************/
//thick font -> Open Sans
.font-weight-600 {
	font-weight: 600;
}

.font-weight-400 {
	font-weight: 400;
}

/**********************************************************************************/
//scroll arrow every project page
.scroll-arrow-pp {
   position: absolute;
   z-index: 400;
   bottom: 5%;
   cursor: s-resize;
   left: 4 * ($grid-width + $grid-gutter);
}

/**********************************************************************************/
// link style
.link-black {
	margin-top: 30px;
	padding: 8px;
	border: solid 1px black;
	background-color: transparent;
	transition: 0.5s ease-in;
	color: black;
	p {
		font-size: 11px;
		text-align: center;
		letter-spacing: 1.5px;
	}
}
.link-black:hover {
	background-color: black;
	transition: 0.5s ease-in;
	color: white;
}

.link-white {
	margin-top: 30px;
	padding: 8px;
	border: solid 1px white;
	background-color: transparent;
	transition: 0.5s ease-in;
	color: white;
	p {
		font-size: 11px;
		text-align: center;
		letter-spacing: 1.5px;
	}
}
.link-white:hover {
	background-color: white;
	transition: 0.5s ease-in;
	color: black;
}

/**********************************************************************************/
.year-info-container {
	margin-top: 20px;
	span {
		padding-right: 5px;
	}
}
