// =================================================================================
// first section
// =================================================================================
.election-grey-back {
	mix-blend-mode: multiply;
	position: absolute;
	z-index: 1;
	top: 500px;
	width: 100%;
	height: 730px;
	background: linear-gradient(rgb(52, 0, 102), rgb(40, 0, 64));
	opacity: 0.7;
}

.election-desc-container {
	position: absolute;
	z-index: 32;
	top: 750px;
	a {
		font-size: 13px;
	}
}


// =================================================================================
// election respondent
// =================================================================================
.election-respondent {
	position: absolute;
	z-index: 20;
	top: 1150px;
	color: white;
}

.respondent-img {
	position: absolute;
	z-index: 21;
	top: 1700px;
	width: 220px;
	height: 220px;
	img {
		width: 220px;
		height: 220px;
	}
	p {
		span{
			font-weight: 600;
		}
		font-size: 14px;
		color: white;
		line-height: 20px;
		margin-bottom: 20px;
	}
}

.respondent-p {
	position: absolute;
	z-index: 20;
	top: 1300px;
	width: 55%;
	padding: 50px;
	background-color: rgba(255, 255, 255, 1);
}

// =================================================================================
// election methodology
// =================================================================================
.election-method {
	position: absolute;
	z-index: 20;
	top: 2110px;
	color: black;
	width: 650px;
}

// =================================================================================
// election process
// =================================================================================
.election-process-container {
	position: absolute;
	z-index: 21;
	top: 1600px;
	margin-right: 30px;

	.election-process {
		width: 180px;
		height: 180px;
		text-align: center;
		margin-bottom: 20px;
		img {
			width: 140px;
			margin-bottom: 10px;
		}
	}
}
