// =================================================================================
// first section
// =================================================================================
.tia-grey-back {
	mix-blend-mode: multiply;
	position: absolute;
	z-index: 1;
	top: 500px;
	width: 100%;
	height: 800px;
	background: linear-gradient(#4AAAD9, #904497);
	opacity: 0.7;
}


// =================================================================================
// tia color pallette container
// =================================================================================
.tia-color {
	position: absolute;
	z-index: 20;
	top: 1500px;
	color: black;
	width: 50%;
}

.tia-color-pallette {
	margin-top: 10px;
	.color-p-li{
		width: 210px;
		height: 30px;
		margin: 10px -2px;
		padding: 0;
	}
	p{
		span {
			font-weight: 600;
		}
	}
}

// =================================================================================
// client container
// =================================================================================
//client title
.tia-client-title {
	position: absolute;
	z-index:20;
	top: 2650px;
}

.tia-client-content {
	position: absolute;
	z-index: 20;
	top: 2250px;
	p{
		width: 3 *($grid-width + $grid-gutter);
		margin-right: 1 * $grid-width;
	}
	img {
		width: 7 *($grid-width + $grid-gutter);
	}
}


.scroll-arrow-tia2 {
	mix-blend-mode: soft-light;
	position: absolute;
	z-index: 400;
	top: 1660px;
	right: 4 *($grid-width + $grid-gutter);
}


// =================================================================================
// copy right
// =================================================================================
.tia-copy-right {
	top: 2150px;
}